body {
  background-color: #d2d7f1;
  color: white;
  font-family: 'Roboto', sans-serif;
}

button {
	border: none;
	padding: 0;
	cursor: pointer;
}

img {
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.phone-container {
  position: relative;
  width: 348px;
  height: 800px;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(150deg, rgb(2 1 45) 15%, rgb(7 65 145) 160%);
  padding: 40px;
  margin: -8px;
  overflow: hidden;
}

.flex {
  display: flex;
}

.br {
  border-radius: 20px;
}

.header {
  height: 40px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.album-slider {
  overflow: auto;
  flex-flow: row nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  margin-right: -40px;
}

.album-slider::-webkit-scrollbar, .song-list::-webkit-scrollbar { 
  display: none; 
}

.album-cover, .item-img {
  width: 90px;
  height: 90px;
  background: transparent;
  margin: 2px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  outline: 2px solid red;
}

.mingap {
  gap: 16px;
}

.logo-text {
  margin-top: 16px;
}

.link {
  margin-bottom: 15px;
}

.link img {
  transform: rotate(90deg);
  margin-bottom: 1px;
}

.song-list {
  flex-direction: column;
  max-height: 400px;
  gap: 5px;
  overflow: auto;
  flex-flow: column nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.composition {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.search-bar {
  position: relative;
}

.search-bar:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 56px;
  bottom: 0;
  width: 25px;
  background: url("https://img.icons8.com/666666/24/search") no-repeat;
  z-index: 1;
}

.item-artname {
  line-height: 1.3;
}

.player-artname {
  line-height: 1.6;
}

.play {
  padding: 2px 0 0 2px;
}

.player {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);  
  z-index: 2;
}

#searchInput {
  width: 95%;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  margin: 45px 0;
}

.player-buttons {
  margin-right: 40px;
}

.player-buttons button {
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.min-weight {
  font-weight: 300;
}

.prev {
  background-image: url("https://img.icons8.com/ios-glyphs/30/D4EBFB/end--v1.png");
  transform: rotate(180deg);
}

.pause {
  background-image: url("https://img.icons8.com/ios-glyphs/30/D4EBFB/pause--v2.png");
}

.next {
  background-image: url("https://img.icons8.com/ios-glyphs/30/D4EBFB/end--v1.png");
}

#alb1 {
  background-image: url("/img/Man.JPG");
}

#alb2 {
  background-image: url("/img/Micro.JPG");
}

#alb3 {
  background-image: url("/img/Town.JPG");
}

#alb4 {
  background-image: url("/img/Roses.JPG");
}

#alb5 {
  background-image: url("/img/Triangle.JPG");
}
