body{
    padding: 0;
    margin: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 26px 20px;
    gap: 20px;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: white;
	border-radius: 0 0 30px 30px;
}
.headerMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerCalendarButton {
    width: 44px;
    height: 44px;
    background: #F2F5FC;
    background-image: url('./image/calendar.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 16px;
}
.headerMenuButton {
    width: 44px;
    height: 44px;
    background: #F2F5FC;
    border-radius: 16px;
    gap: 3px;
}
.headerMenuButton > div {
    height: 4.5px;
    width: 4.5px;
    border-radius: 90px;
    background-color: #333333;
}
.premiumbtn {
    overflow: hidden;
    background: linear-gradient(187.04deg, #9FE860 8.03%, #50CE3B 92.63%);
    border-radius: 12px;
    padding: 15px 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 12px;
    background-image: url(./image/Offer_bg.png);
    background-size: 100% 100%;
}
.buttonPro {
    color: white;
    background: linear-gradient(219.68deg, #FFA935 22.67%, #FDD00E 74.06%);
    border-radius: 91.8605px;
    width: 55px;
    height: 27px;
}
.premiumbtnText {
    display: flex;
    flex-direction: column;
}
.premiumbtnText > div {
    color: #FFFFFF;
}
.premiumbtnText > div:first-child {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.premiumbtnText > div:last-child {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 162.7%;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* .calories{
    background-image: url(./image/Calories_bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */
.calories_info {
	margin: 0 36px;
	display: flex;
	justify-content: space-between;
}

.calories_burn {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(./image/Burn.svg) no-repeat center top;
	margin-top: 30px;
}

.calories_burn_count {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding-top: 20px;
}

.calories_burn_text {
	font-size: 10px;
	margin: 0;
	color: #9DA8C3;
}

.calories_available {
	display: flex;
	flex-direction: column;
	min-height: 160px;
	min-width: 160px;
	background: url(./image/Сircle_cal.svg) no-repeat;
	background-size: 100% 100%;
}

.calories_available_count {
	font-size: 36px;
	font-weight: bold;
	align-self: center;
	color: #2DB82D;
	margin: 0;
	padding-top: 40px;
}

.calories_available_text {
	align-self: center;
	font-size: 10px;
	margin: 0;
	color: #9DA8C3;
	margin-bottom: 20px;
}

.else_info {
	align-self: center;
}

.else_info>input[type="radio"] {
	display: none;
}

.else_info>label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #2DB82D;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	opacity: 0.5;
}

.else_info>input[type="radio"]:checked+label {
	opacity: 1;
}

.calories_eaten {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(./image/Restaurant.svg) no-repeat center top;
	margin-top: 30px;
}

.calories_eaten_count {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding-top: 20px;
}

.calories_eaten_text {
	font-size: 10px;
	margin: 0;
	color: #9DA8C3;
}

.calories_goal_container {
	display: flex;
	flex-direction: column;
	background: url(./image/Calories_bg.png) #F2F5FC no-repeat center top;
	align-items: center;
	background-size: contain;
}

.calories_goal_count {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding-top: 20px;
	text-align: center;
}

.calories_goal_text {
	font-size: 10px;
	margin: 0;
	color: #9DA8C3;
	text-align: center;
	margin-bottom: 20px;
}

.btn_calories {
	min-width: 40px;
	min-height: 40px;
	border: none;
	background: url(./image/Calories_btn.svg) no-repeat;
	cursor: pointer;
}

.main_content {
	padding: 20px 20px 30px;
	background-color: #F2F5FC;
}

.content_water {
	display: flex;
	justify-content: space-between;
	min-height: 75px;
	border-radius: 12px;
	overflow: hidden;
	background: url(./image/Blue_line.png) #FFFFFF repeat-y;
}

.content_water_info {
	min-width: 170px;
	margin: 12px 0 5px 20px;
	align-self: center;
	background: url(./image/Rain.svg) no-repeat left bottom;
}

.content_water_info h4 {
	margin: 0;
	font-size: 18px;
}

.content_water_info h4 span {
	color: #4166F5;
}

.content_water_info p {
	font-size: 10px;
	margin: 0;
	color: #9DA8C3;
	margin-bottom: 20px;
}

.content_water_counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
}

.btn_minus {
	align-self: center;
	width: 30px;
	height: 30px;
	border: none;
	background: url(./image/Btn_minus.svg) no-repeat;
	cursor: pointer;
}

.content_water_numbers {
	margin: 0 15px;

}

.content_water_numbers p {
	font-size: 12px;
	margin: 0;
	color: #9DA8C3;
}

.content_water_numbers p:first-child, .content_water_numbers p:last-child {
	opacity: 0.5;
}

.content_water_numbers p:nth-child(2) {
	margin: 10px 0;
}

.btn_plus {
	align-self: center;
	width: 30px;
	height: 30px;
	border: none;
	background: url(./image/Btn_plus.svg) no-repeat;
	cursor: pointer;
}

.daily_meals_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin: 20px 0 10px;
}

.daily_meals_head h4 {
	font-size: 14px;
	margin: 0;
}

.btn_daily_meals_edit {
	align-self: center;
	width: 35px;
	height: 35px;
	border: none;
	background: url(./image/Pencil.svg) #E0E6F3 no-repeat 50% 50%;
	cursor: pointer;
	border-radius: 11px;
}

.daily_meals_breakfast {
	border-radius: 12px;
	background: url(./image/Green_line.png) #FFFFFF repeat-y;
	padding: 12px 15px 5px 20px;
	margin-bottom: 15px;
}

.daily_meals_breakfast_info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.daily_meals_breakfast_head_container {
	display: flex;
}

.daily_meals_breakfast_head input[type="radio"] {
	display: none;
}

.daily_meals_breakfast_head label {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	background: url(./image/Dropdown.svg) no-repeat 50% 50%;
	cursor: pointer;
}

.daily_meals_breakfast_head h4 {
	margin: 0;
	font-size: 18px;
	margin-right: 10px;
}

.daily_meals_breakfast_head h4 span {
	color: #2ED12E;
}

.daily_meals_breakfast_head p {
	min-height: 20px;
	font-size: 10px;
	margin: 10px 0 0;
	color: #9DA8C3;
	background: url(./image/Сheck-mark.svg) no-repeat 65% top;
}

.item_1, .item_2, .item_3 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.daily_meals_breakfast_info_items p {
	margin: 0;
	font-size: 12px;
	color: #9DA8C3;
}

.item__dotted {
	border-bottom: 0.5px dashed #E0E6F3;
	flex-grow: 1;
}

.btn_save_breakfast_info {
	align-self: center;
	height: 20px;
	border: none;
	background-color: #F2F5FC;
	;
	cursor: pointer;
	color: #2ED12E;
	font-size: 10px;
	border-radius: 100px;
	padding: 5px 10px;
}

.daily_meals_lunch, .daily_meals_dinner, .daily_meals_snack {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 75px;
	border-radius: 12px;
	padding: 0 15px 0 20px;
}

.daily_meals_lunch {
	background: url(./image/Yellow_line.png) #FFFFFF repeat-y;
	margin-bottom: 15px;
}

.daily_meals_dinner {
	background: url(./image/Turquoise_line.png) #FFFFFF repeat-y;
	margin-bottom: 15px;
}

.daily_meals_snack {
	background: url(./image/Violet_line.png) #FFFFFF repeat-y;
	margin-bottom: 20px;
}

.daily_meals_lunch_info h4, .daily_meals_dinner_info h4, .daily_meals_snack_info h4 {
	margin: 0;
	font-size: 18px;
}

.daily_meals_lunch_info p, .daily_meals_dinner_info p, .daily_meals_snack_info p {
	font-size: 10px;
	margin: 5px 0 0;
	color: #9DA8C3;
}

.daily_meals_lunch_info h4 {
	color: #FFA935;
}

.daily_meals_dinner_info h4 {
	color: #12E5B0;
}

.daily_meals_snack_info h4 {
	color: #B575E7;
}

.content_daily_exercise>h4 {
	font-size: 14px;
	margin: 0 0 10px;
	padding-left: 10px;
}

.exercise {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 75px;
	border-radius: 12px;
	padding: 0 15px 0 20px;
	background: url(./image/Red_line.png) #FFFFFF repeat-y;
}

.exercise_steps {
	display: flex;
	align-items: center;
}

.exercise_info h4 {
	margin: 0;
	font-size: 18px;
	color: #FF655B;
}

.exercise_steps p {
	font-size: 10px;
	margin: 5px 15px 0 0;
	color: #9DA8C3;
}

.toggle {
	width: 32px;
	height: 20px;
}

.ios-toggle,
.ios-toggle:active {
	height: 0;
	width: 0;
	opacity: 0;
	border: none;
	outline: none;
}

.checkbox-label {
	display: block;
	position: relative;
	top: -15px;
	width: 100%;
	margin-top: 2.5px;
	height: 15px;
	border-radius: 7.5px;
	background: #f8f8f8;
	cursor: pointer;
}

.checkbox-label:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	height: 20px;
	width: 20px;
	margin-top: -2.5px;
	border-radius: 100%;
	top: 0px;
	left: 0px;
	right: auto;
	background: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.ios-toggle:checked+.checkbox-label {
	box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

.ios-toggle:checked+.checkbox-label:before {
	left: calc(100% - 20px);
	box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

#checkbox1+.checkbox-label {
	box-shadow: inset 0 0 0 0px #dddddd, 0 0 0 2px #dddddd;
}

#checkbox1:checked+.checkbox-label {
	box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

#checkbox1:checked+.checkbox-label:after {
	color: rgba(19, 191, 17, 1);
}

.footer {
	background-color: #F2F5FC;
	position: sticky;
	bottom: 0;
	z-index: 2;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	margin: 0;
	border-radius: 30px 30px 0 0;
	padding: 0 34px;
	list-style-type: none;
	min-height: 85px;
}

.navbar li {
	height: 43px;
}

.navbar a {
	text-decoration: none;
	color: #9DA8C3;
	font-size: 10px;
	display: block;
	padding-top: 30px;
	cursor: pointer;
}

.diary {
	background: url(./image/Diary.svg) no-repeat center top;
	color: #62E962;
}

.explore {
	background: url(./image/Explore.svg) no-repeat center top;
}

.coach {
	background: url(./image/Coach.svg) no-repeat center top;
}

.results {
	background: url(./image/Results.svg) no-repeat center top;
}