body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 20px;
    perspective: 800px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.face,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background-color: white;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
}
