.music-player {
    background: #000000;
}

.header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.player-icon {
    font-family: 'Showcard Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.three-buttons {

}

.button {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 1px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.albums-container {
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    justify-content: center;
}

.search-song {
    width: 60%;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 20px;
    border: none;
    background: #E7E7E7;
}

.search-song img {

}

/*.songs table {*/
/*    width: 100%;*/
/*}*/


table {
    table-layout: fixed;
    width:100%;
}
td {
    word-wrap:break-word;
}

.song-image img{
    margin-left: ;
}

.song-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-name, .song-duration {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFCFC;
}


/*
text overflow: ellipse
 */