/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a{
   text-decoration: none;
}

.header{
   position: fixed;
   width: 100%;
   height: 58px;
   padding-top: 50px;
   background-color: #ffff;
   border-radius: 0 0 20px 20px;
}

.wrapper{
   padding-left: 20px;
   padding-right: 20px;
}


.header_items{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}



.header_links:first-child,
.header_links:last-child{
   width: 44px;
   height: 44px;
   background-color: #F2F5FC;
   border-radius: 16px;
}


.header_calendar{
   padding-top: 9.78px;
   padding-left: 11px;
}

body{
   background-color: #C4C4C4;
}

.upgrade_section{
   padding-top: 114px;
}

.upgrade_section,.kcal{
   background-color: #ffff;
}

.upgrade_pro{
   display: flex;
   width: 100%;
   height: 58px;
   background-image: url(./img/svg/bg-proupgrade.svg);
   background-repeat: no-repeat;
   background-size: cover;
   /* background: linear-gradient(#9FE860, #50CE3B); */
   /* background-color: #9FE860; */
   border-radius: 12px;
}

.title{
   padding-left: 5%;
}

.pro_title{
   display: block;
   padding-top: 12px;
   font-size: 14px;
   font-weight: bold;
   color: #ffff;
}

.pro_text{
   font-size: 11px;
   color: #ffff;
}

.header_dot-link{
   padding-top: 19px;
}

.header_dot-link:first-child{
padding-left: 10px;
}

.upgrade_button{
   width: 55px;
   height: 27px;
   border-radius: 91.86px;
   background: linear-gradient(#FFA935, #FDD00E);
   margin-top: 15px;
   margin-left: 13px;
   color: #ffff;
   font-size: 16px;
   font-weight: bold;
}

.kcal{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-top: 26px;
   padding-left: 37px;
   padding-right: 37px;
}

.kcal_amount{
   width: 100%;
   height: 44px;
   padding-top: 50px;
   padding-right: 41px;
   padding-left: 35px;
   font-size: 36px;
   font-weight: bold; 
   color:#2DB82D ;
   margin-top: -95px;
}

.kc_amount-aveailebol{
   width: 100%;
   height: 11px;
   font-size: 10px;
   color: #9DA8C3;
   padding-right: 46px;
   padding-left: 46px;
}


.burned,.gained{
   width: 42px;
   height: 60px;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
}

.bur,.eat{
   font-size: 10px;
   color: #9DA8C3;
}

.g_p_o_c{
   height: 46px;
   margin: 0 auto;
}

.t_p_o_c{
   margin-top: -48px;
   padding-left: 2px;
}

.kcal_amount{
   margin-top: -95px;
}

.kcal_avail{
   width: 158px;
   height: 158px;
}

.upper_part{
   display: flex;
}

.bottom_circle{
   display: block;
}

.clock_radius{
   width: 100%;
}

.nutrition_type,
.nutrition_Breakfast,
.nutrition_Lunch,
.nutrition_Dinner,
.nutrition_Snack{
   margin-bottom: 16px;
}

.nutrition_Breakfast:active{
height: 180px;
}

.nutrition_type,
.nutrition_water,
.nutrition_Breakfast,
.nutrition_Lunch,
.nutrition_Dinner,
.nutrition_Snack,
.exercise{
   width: 100%;
   height: 75px;
   background-color: #ffff;
   border-radius: 12px;
}

.nutrition_water{
   padding-top: 12px;
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   /* color: #4166F5; */
   background-image:url(./img/svg/blue-frame.svg) ;
   background-repeat: no-repeat;
   background-size: 13px 91px;
   margin-bottom: 29px;
}

.nutrition_water-wrapper{
   display: flex;
   justify-content: space-between;
}
/* .water_needed-wrapper, */
.neg_posit-wrapper{
   display: flex;
   align-items: center;
}
.water_needed-wrapper{
   height: 22px;
}

.liter_counter{
   padding-top: 45px;
   padding-left: 6px;
   padding-right: 6px;
}

.neg_posit-wrapper{
   padding-right: 14px;
}

.negitiv,
.positive{
   width: 30px;
   height: 30px;
}
.liter_counter{
   width: 39px;
   height: 62px;
}

.recomendetion,
.step_count,
.break_fast-recomendetion{
   padding-left: 20px;
   padding-top: 3px;
   padding-bottom: 7px;
   font-size: 10px;
   color: #9DA8C3;
   /* margin-bottom: 20px; */
}

.drops{
   padding-left: 20px;
}

.water_needed,
.brek,
.lun,
.din,
.sna,
.exerc{
   padding-left: 20px;
   height: 22px;
}



.daily_nutrition,
.edit{
   font-size: 20px;
   padding-bottom: 18px;
   padding-left: 20px;
}

.done_exercise{
   font-size: 20px;
   padding-left: 20px;
}

.water_quality,
.kcal_quality{
   color: #1A1C24;
   font-size: 18px;
   padding-left: 9px;
   height: 22px;
}

.meals_wrapper{
   display: flex;
   justify-content: space-between;
}

.nutrition_Breakfast{
   padding-top: 12px;
   height: 180px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   color: #2ED12E;
   background-image: url(./img/svg/green-frame.svg);
   background-repeat: no-repeat;
}

.breakfast_wrapper{
   display: flex;
}

.breakfact_wrapper-wrapper{
   width: 100%;
}


.drinks,
.type_of_food,
.nuts{
   display: flex;
   justify-content: space-between;
   font-size: 12px;
   color: #9DA8C3;
}

.drinks{
   margin-bottom: 15px;
}

.type_of_food{
   margin-bottom: 18px;
}

.nuts{
   margin-bottom: 20px;
}

.save{
   font-size: 10px;
   color: #2ED12E;
}
 
 .breack_fast-type{
   padding-right: 14px;
   padding-left: 20px;
} 




/* .breack_fast-type:hover {
   height: 180px;
   display: block;
} */

.nutrition_Lunch{
   padding-top: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   color: #FFA935;
   background-image: url(./img/svg/orange-frame.svg);
   background-size: 13px 91px;
   background-repeat: no-repeat;
}

.nutrition_Dinner{
   padding-top: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   color: #12E5B0;
   background-image: url(./img/svg/light-blue-frame.svg);
   background-repeat: no-repeat;
   background-size: 13px 91px;
}

.nutrition_Snack{
   padding-top: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   color: #B575E7;
   background-image: url(./img/svg/purpule-frame.svg);
   background-repeat: no-repeat;
   background-size: 13px 91px;
}

.done_exercise{
   padding-top: 20px;
   padding-bottom: 11px;
}



.exercise {
   padding-top: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   color: #FF655B;
   background-image: url(./img/svg/red-frame.svg);
   background-repeat: no-repeat;
   background-size: 13px 91px;
}


.lun_but,
.din_but,
.sna_but,
.exerc_but,
.brek_but{
   padding-right: 14px;
}

.brek_but{
   margin-top: -20px;
}

.toggle_button{
   padding-left: 15px;
}

.up_down_arrow{
   padding-left: 10px;
}

.up_down_arrow:active{
   rotate: 180deg;
   padding-right: 10px;
}


.nutrition{
   margin-bottom: 30px;
   height: 910px;
}


.footer{
   position: fixed;
      right: 0;
      bottom: 0;
   width: 100%;
   height: 85px;
   background-color: #ffff;
   border-radius: 20px 20px 0 0;
}

.footer_wrapper{
   padding-left: 39px;
   padding-right: 39px;
   padding-top: 20px;
}


.footer_items{
   display: flex;
   justify-content: space-around;
}

.apps_diary{
   font-size: 10px;
   color: #62E962;
}


.compass_title,
.coach_title,
.trophy_results{
   font-size: 10px;
   color: #9DA8C3;

}

.apps_diary,
.compass_title,
.coach_title,
.trophy_results {
padding-top: 8px;
font-weight: bold;
}

.rec{
   display: flex;
   justify-content: space-between;
}
