.main-container {
  height: 100vh;
  align-items: center;
}
.timer-container {
  background-color: #f2f2f2;
  width: 500px;
  padding: 20px 15px;
  font-family: sans-serif;
}
.buttons-container {
  gap: 10px;
  margin-top: 10px;
}
.button {
  border-radius: 20px;
  padding: 15px 10px;
  border: 1px solid #e5e5e5;
}
.timer {
  background-color: white;
  margin: 10px 0;
  font-size: 80px;
  padding-left: 20px;
}
.controls {
  align-items: center;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.play-btn {
  background-color: #24bc9d;
}
.stop-btn {
  background-color: #e97d75;
}
.reset-btn {
  background-color: #369ad8;
  font-size: 35px;
}
.main-container,
.buttons-container,
.controls {
  display: flex;
  justify-content: center;
}
.button,
.controls {
  cursor: pointer;
}
