body{
    display: flex;
}

.calendar-container {
    width: 60%;
    margin-left: 10px;
}
.current-date {
    padding: 40px 0;
    background: black;
    color: white;
    text-align: center;
}
.current-date .date {
    font-size: 48px;
}
.current-date .weekday {
    font-weight: bold;
}

.current-month{
    display: flex;
    text-align: center;
    font-weight: bold;
    color: gray;
    padding: 8px 0;
}

.weekdays-container {
    display: flex;
    flex-direction: row;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-around;
}
.week-day{
    padding: 5px 30px;
}
.days-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.days-container .day{
    text-align: center;
}
.days-container .day {
    padding: 30px;
}
.days-container .day.prev-month-day,
.days-container .day.next-month-day {
    color: grey;
}
.calendar-wrapper {
    display: flex;
    align-items: center;
    min-height: 160px;
}
.calendar {
    width: 100%;
    align-self: flex-start;
}
.task-done span {
    text-decoration: line-through;
    color: gray;
}
.to-do-list-container{
    width: 40%;
}
