body {
  background-color: gray;
}
.page {
  width: 400px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.image {
  width: 100%;
}
.main {
  padding: 20px;
}
.title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.content {
  margin-bottom: 30px;
}
button {
  border: none;
  background-color: white;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.button-continue {
  background-color: #5c53ff;
  border-radius: 6px;
  padding: 10px;
  color: white;
}
.circle-container {
  display: flex;
  gap: 2px;
}
.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: gray;
}
.color {
  background-color: #5c53ff;
}
