body {
  background: #E5E5E5;
}

main {
  padding-bottom: 30px;
}

header {
  padding: 50px 20px 20px 20px;
  background: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.calendar {
  width: 44px;
  height: 44px;
  background: #F2F5FC;
  font-size: 22px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #333333;
  text-align: center;
}

.tocki {
  width: 44px;
  height: 44px;
  background: #F2F5FC;
  font-size: 42px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 20px;
  letter-spacing: -2px;
}

.green {
  background: #FFFFFF;
  margin-top: -1px;
}

.green_field {

  display: flex;
  background-image: url("../img/bg.png");
  object-fit: cover;
  width: 100%;
  object-position: top;
  background-repeat: no-repeat;


  margin: 0px 20px 0px 20px;
}

.button {
  margin: 15px 0px 15px 13px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#FDD00E), to(#FFA935));
  background: -webkit-linear-gradient(left, #FDD00E, #FFA935);
  background: -o-linear-gradient(left, #FDD00E, #FFA935);
  background: linear-gradient(to right, #FDD00E, #FFA935);
  border-radius: 91px;
  padding: 0px 20px;
  width: 55px;
  height: 27px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: #FFFFFF;
}

.green_text {
  margin: 15px 0px 0px 12px;
  z-index: 2;
}

.green_text1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.green_text2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 162.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
}



.kryg {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 40px 0px 40px;
  margin-top: -1px;
}

.ogon {
  text-align: center;
  padding-top: 35px;
}

.ogon_text1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #333333;
}

.ogon_text2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.2px;
  color: #9DA8C3;
}

.centr {
  width: 158px;
  height: 158px;
}

.kryg_img2 {
  position: absolute;
  padding-left: 10px;
}

.kryg_img3 {
  position: absolute;
  padding-top: 50px;
  margin-left: -67px;
}

.centr_text {
  margin: -55px 0px 0px 0px;
  text-align: center;
}

.centr_text1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #2DB82D;
}

.centr_text2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.2px;
  color: #9DA8C3;
}

.tocki_green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-left: 66px;
}

.tocki_green1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2DB82D;
}

.tocki_green2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2DB82D;
  opacity: 0.5;
  margin-left: 10px;
}

.vilka {
  text-align: center;
  padding-top: 35px;
}

.vilka_img1 {
  position: absolute;
  margin-left: -11px;
}

.vilka_img2 {
  position: absolute;
  margin-left: -21px;
  padding-top: 10px;
}

.KcalGoal {
  background: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 42px;
  margin-top: -1px;
}

.KcalGoal_img1 {
  position: absolute;
  margin-left: -189px;
  margin-top: -12px;
}

.KcalGoal_img2 {
  position: absolute;
  margin-left: -189px;
  margin-top: -340px;
}

.begynok {
  width: 38px;
  height: 38px;
  background: -webkit-linear-gradient(268.04deg, #6CFF6C -24.63%, #14BD14 126.53%);
  background: -o-linear-gradient(268.04deg, #6CFF6C -24.63%, #14BD14 126.53%);
  background: linear-gradient(181.96deg, #6CFF6C -24.63%, #14BD14 126.53%);
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 178px;
  margin-top: 21px;
  position: absolute;
}

.Water {
  background: #FFFFFF;
  display: flex;
  border-radius: 12px;
  margin: 26px 20px 0px 20px;
}

.polosa {
  width: 10px;
  height: 75px;
  left: calc(50% - 10px/2 - 162.5px);
  top: 480px;
  background: linear-gradient(180deg, #3D60F4 0%, #476FF5 100%);
  border-radius: 12px 0px 0px 12px;
}

.water_text {
  padding: 12px 0px 5px 20px;
}

.water_text1 {
  display: flex;
}

.water_text1_1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #4166F5;
}

.water_text1_2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #1A1C24;
  padding-left: 10px;
}

.water_text2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #9DA8C3;
}

.water_text2 {
  padding: 5px 0px 5px 0px;
}

.kapla {
  padding-left: 12px;
}

.plus_minys {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px 8px 25px;
}

.kryg- {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to right, #9FE860, #50CE3B);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus_minys_text {
  padding: 0px 12px;
}

.plus_minys_text1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #9DA8C3;
  opacity: 0.75;
}

.plus_minys_text2 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #9DA8C3;
  padding-top: 8px;
}

.plus_minys_text3 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #9DA8C3;
  opacity: 0.75;
  padding-top: 8px;
}

.kryg_plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to right, #9FE860, #50CE3B);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Daily_meals {
  display: flex;
  justify-content: space-between;
  padding: 20px 33px 10px 31px;
}

.Daily_meals_text {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #1A1C24;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Breakfast {
  background: #FFFFFF;
  display: flex;
  border-radius: 12px;
  margin: 0px 20px;
}

.polosa2 {
  width: 10px;
  height: 190px;
  background: #2ED12E;
  border-radius: 12px 0px 0px 12px;
}

.Breakfast_text_a {
  display: flex;
  justify-content: space-between;
}

.Breakfast_text {
  padding: 18px 11px 13px 11px;
}



.Breakfast_text1_1 {
  display: flex;
}

.Breakfast_text1_1_1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #2ED12E;
}

.Breakfast_text1_1_2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #1A1C24;
  padding-left: 10px;
}

.vv {
  padding-left: 10px;
}

.Breakfast_text1_1_3 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #9DA8C3;

}

.plus2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to right, #9FE860, #50CE3B);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px
}

.Breakfast_text2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.2px;
  color: #9DA8C3;
  padding-top: 15px;
}

.button2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #2ED12E;
  width: 90px;
  height: 20px;
  left: calc(50% - 90px/2 - 104.5px);
  top: 776px;
  background: #F2F5FC;
  border-radius: 100px;
  margin-top: 17px;
  border: none;
}

.Lunch {
  background: #FFFFFF;
  display: flex;
  border-radius: 12px;
  margin: 16px 20px 0px 20px;

}

.centr2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px 0px 10px;
}

.polosa3 {
  width: 10px;
  height: 75px;
  background: #FFA935;
  border-radius: 12px 0px 0px 12px;
}

.Lunch_text1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #FFA935;
}

.Lunch_text2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #9DA8C3;
}

.polosa4 {
  width: 10px;
  height: 75px;
  background: #12E5B0;
  border-radius: 12px 0px 0px 12px;
}

.Lunch_text1_1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #12E5B0;
}

.polosa5 {
  width: 10px;
  height: 75px;
  background: #B575E7;
  border-radius: 12px 0px 0px 12px;
}

.Lunch_text1_2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #B575E7;
}

.Daily {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #1A1C24;
  padding: 20px 0px 11px 31px;
}

.polosa6 {
  width: 10px;
  height: 75px;
  background: #FF655B;
  border-radius: 12px 0px 0px 12px;
}

.Lunch_text1_3 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #FF655B;
}

.toggle {
  padding-left: 15px;
}
footer{background:  #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  position: sticky;
  bottom: 0;}
.footer_picture {padding: 19px 32px 23px 32px;}
.footer_picture_otstyp{padding-left: 42px;}