.header {
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

.body {
    display: flex;
}

.file-drop-area {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border: 1px dashed #777777;
    background-color: #777777;
    border-radius: 4px;
}

.file-item {
    display: flex;
    width: 100%;
}

.item-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.status-bar .full {
    height: 5px;
    background-color: grey;
}

.status-bar {
    position: relative;
}

.status-bar .uploaded {
    position: absolute;
    top: 0;
    height: 5px;
    background-color: #03a9f4;
}
