body {
		margin: 0; 
		font-family: sans-serif;
		font-size: 16px;
		box-sizing: border-box;
		overflow: hidden;
	}

	.player {
		background: linear-gradient(171deg, #121212,#181818);
		box-shadow: 0px 2px 35px 10px rgba(0, 0, 0, 0.25);
		border-radius: 40px;

	}

	.header {
		display: flex;
		justify-content: space-between;
		margin: 0 45px;
		align-items: center;
		height: 120px;
	}

	.logo {
		display: flex;
		justify-content: space-between;
	}

	.logo p {
		padding: 15px 0 0 15px;
		font-size: 10px;
		line-height: 12px;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: bold;
	}

	.settings {
		background: linear-gradient(171deg, #121212,#181818);
		border: none;
	}

	.main {
		overflow-y: scroll;
		height: calc(100vh - 240px);
	}

	.albums_container {
		margin: 0 0 45px 45px;
	}
	.title {
		margin-left: 45px;
		width: 85px;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		background: url("../images/Album-arrow.svg") no-repeat 100%;
	}

	.albums_container {
		display: flex;
		overflow-x: scroll;
		gap:10px;
	}

	.album_item {
		background: linear-gradient(171deg, #121212,#181818);
		border: none;
	}

	.album_item input {
		display: none;
	}

	.songs_search {
		margin: 0 45px 45px;
	}

	.songs_search input {
		width: 100%;
		height: 40px;
		background: #E7E7E7;
		border-radius: 20px;
	}

	.songs_container {
		margin: 0 45px;
	}

	.song_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	.song_item img {
		border-radius: 10px;
	}
	

	.text_decoration {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		color: #FFFCFC;
	}

	button.play_this_song {
		background: linear-gradient(171deg, #121212,#181818);
		border: none;
	}

	.player_current_song {
		height: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(180deg, #213852 0%, #011A2B 100%);
		border-radius: 30px;
		padding-right: 30px;
		gap: 30px;
	}

	.song_info {
		margin-left: 25px;
		display: flex;
		align-items: center;
		gap: 25px;
	}

	.song_info img {
		border-radius: 10px;
	}

	.song_info .song_name {
		font-size: 16px;
	}

	.control_buttons {
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: flex-end;
	}

	.control_button_decor {
		background: linear-gradient(180deg, #213852 0%, #011A2B 100%);
		border: none;
	}
